.reveal h1, .reveal  h2, .reveal  h3, .reveal  h4, .reveal  h5, .reveal  h6{
	color: #f3787e;
}

.reveal h1 {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); 
  font-size: 1.5em}
  
.reveal h2 {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); 
  font-size: 1.2em}
  
p.credit{
	font-size: 12px;
}

.reveal section img {
	max-height: 75%;
}

  
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
