.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
cheatsheets/beginners-html.pdf
cheatsheets/beginners-css-class2.pdf
*.tmp
img/pizza.pdf
class3.pdf
instructor-reference/*
img/nesting-font-sizes.psd
img/folderstructure1.psd
img/external-stylesheet.psd
img/nesting.psd
email-welcome.txt
class4.pdf
*.db